{
  auto_https off
}

# -----------------------------
# 🌐 Internal Dashboard Access
# -----------------------------

http://homepage.home {
    reverse_proxy homepage:3000
}

http://grafana.home {
    reverse_proxy grafana:3000
}

http://prometheus.home {
    reverse_proxy prometheus:9090
}

http://loki.home {
    reverse_proxy loki:3100
}

http://cadvisor.home {
    reverse_proxy cadvisor:8080
}

http://portainer.home {
    reverse_proxy portainer:9000
}

http://homeassistant.home {
    reverse_proxy 192.168.6.59:8123
}

http://adguard.home {
    reverse_proxy adguard:80
}

http://uptimekuma.home {
    reverse_proxy uptime-kuma:3001 {
        transport http {
            versions 1.1
        }
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
